*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
}

html, body{
    overflow-x: hidden;
    position: relative;
}

.hero{
    min-height: 100vh;
    padding: 1.5rem 5rem 4rem;
}

.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero header a img{
    transition: .25s;
}

.hero header nav ul{
    display: flex;
}

.hero header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
}

.hero header nav ul li img{
    margin-left: .5rem;
}

.hero header nav ul li a{
    text-decoration: none;
    color: #2964AE;
    cursor: pointer;
}

.hero header ul{
    display: flex;
}

.hero header ul li{
    list-style: none;
    margin: 0 1rem;
}

.hero header ul li a{
    text-decoration: none;
    color: #2964AE;
}

.hero header > ul li:nth-child(2) a{
    text-decoration: none;
    color: #FFFFFF;
    padding: .8rem 1.5rem;
    background: #2964AE;
    border-radius: 1rem;
    transition: .35s;
}

.hero header > ul li:nth-child(2):hover a{
    background: #d9e6f8;
    color: #2964AE;
}

.hero header .menu{
    display: none;
}

.hero .hero-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.hero .hero-row .hero-left-col, .hero .hero-row .hero-right-col{
    flex-basis: 50%;
    position: relative;
}

.hero .hero-row .hero-right-col img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.hero .hero-row .hero-left-col .left-col-text{
    max-width: 80%;
}

.hero .hero-row .hero-left-col .left-col-text h1{
    font-size: 3rem;
    color: #2964AE;
    margin-bottom: 1rem;
}

.hero .hero-row .hero-left-col .left-col-text h1 span{
    font-size: 3rem;
    color: #2964AE;
    position: relative;
}

.hero .hero-row .hero-left-col .left-col-text h1 span::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 130%;
    height: 130%;
    transform: translate(-50%, -50%);
    background-image: url(images/empases\ circle.svg);
    background-position: center;
    background-size: cover;
}

.hero .hero-row .hero-left-col .left-col-text p{
    font-size: 1.2rem;
    color: #000000;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}

.hero .hero-row .hero-left-col .app-links ul{
    display: flex;
    align-items: center;

}

.hero .hero-row .hero-left-col .app-links ul li{
    list-style: none;
    margin-left: -2.5rem;
    margin-top: -2rem;
}

.hero .partners{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .partners h3{
    margin-bottom: 2rem;
}

.hero .partners .partners-logo{
    display: flex;
    align-items: center;
}

.hero .partners .partners-logo img{
    margin: 0 1.5rem;
}

.mobile-nav{
    display: none;
}

/* About us starts here */
.about-us{
    padding: 4rem 5rem;
    background: #d9e6f8;
    text-align: center;
}

.about-us h2{
    color: #08182b;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
} 

.about-us h3{
    color: #000000;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
} 

.about-us .about-us-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us .about-us-row .about-us-col{
    flex-basis: 31%;
    padding: 3rem;
    background: #FFFFFF;
    text-align: left;
}

.about-us .about-us-row .about-us-col img{
    margin-bottom: 1rem;
}

.about-us .about-us-row .about-us-col h4{
    margin-bottom: 1rem;
}

.about-us .about-us-row .about-us-col p{
    font-size: 0.9rem;
}

/* How to use Montar starts here */
.how-to-use{
    padding: 2rem 5rem;
}

.how-to-use .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.how-to-use .row .left-col, .how-to-use .row .right-col{
    flex-basis: 50%;
}

.how-to-use .row .right-col h3{
    font-size: 2rem;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.how-to-use .row .right-col .process{
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.how-to-use .row .right-col .process .steps{
    margin-bottom: 2rem;
}

.how-to-use .row .right-col .process .steps h4{
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: .2rem;
}

.how-to-use .row .right-col .process .steps h4 img{
    margin-right: 2rem;
}

.how-to-use .row .right-col .process .steps p{
    margin-left: 4rem;
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.5;
}

/* Get Montar starts here */
.get-montar{
    padding: 5rem;
    background: #2964AE;
    color: #FFFFFF;
    text-align: center;
}

.get-montar h4{
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.get-montar a{
    text-decoration: none;
    color: #2964AE;
    padding: .5rem 2.8rem;
    border-radius: .5rem;
    background: #FFFFFF;
    font-weight: 500;
    transition: .35s;
}

.get-montar a:hover{
    background: #d9e6f8;
    color: #FFFFFF;
}

/* Testimonials starts here */
.testimonials{
    padding: 3rem 5rem;
    text-align: center;
}

.testimonials h2{
    font-size: 1.1rem;
    color: #2964AE;
    margin-bottom: 3rem;
}

.testimonials .text-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonials .text-row .text-box{
    flex-basis: 31%;
    padding: 3rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}

.testimonials .text-row .text-box img{
    margin-bottom: 1rem;
}

.testimonials .text-row .text-box p{
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    font-style: italic;
    font-weight: 100;
}

/* Footer starts here */
footer{
    padding: 5rem;
    background: #2964AE;
    color: #FFFFFF;
}

footer .footer-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-row .footer-col{
    flex-basis: 30%;
    margin-bottom: 1rem;
}

footer .footer-row .footer-col h4{
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: .5rem;
}

footer .footer-row .footer-col ul li{
    display: block;
    margin: .5rem 0;
    list-style: none;
}

footer .footer-row .footer-col ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: .8rem;
    transition: .3s;
    cursor: pointer;
}

footer .footer-row .footer-col ul li a:hover{
    color: #d9e6f8;
}

footer p{
    text-align: center;
    font-weight: 100;
}

footer p a{
    text-decoration: none;
    color: #d9e6f8;
    cursor: pointer;
}

/* Responsive design starts here */
@media (max-width: 991px){
    .hero {
        min-height: 100vh;
        padding: 1rem 2rem;
    }

    .hero header a{
        z-index: 10000;
    }

    .hero header a img{
        width: 5rem;
    }

    .hero header nav ul {
        display: none;
    }

    .hero header ul {
        display: none;
    }

    .hero header .menu{
        display: block;
        z-index: 10000;
        width: 2rem;
    }

    .hero .hero-row{
        margin-top: 3rem;
    }

    .hero .hero-row .hero-left-col, .hero .hero-row .hero-right-col {
        flex-basis: 100%;
        text-align: center;
    }

    .hero .hero-row .hero-left-col .left-col-text {
        max-width: 100%;
    }

    .hero .hero-row .hero-left-col .left-col-text h1 {
        font-size: 2rem;
        margin-bottom: .7rem;
    }

    .hero .hero-row .hero-left-col .left-col-text h1 span {
        font-size: 2rem;
    }

    .hero .hero-row .hero-left-col .left-col-text p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .hero .hero-row .hero-left-col .app-links{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -1.5rem;
    }

    .hero .hero-row .hero-left-col .app-links ul li {
        margin-left: 0;
        margin-top: 0;
    }

    .hero .hero-row .hero-left-col .app-links ul li a img{
        width: 6rem;
    }

    .hero .hero-row .hero-left-col .app-links ul li:nth-child(2) a img{
        width: 5.4rem;
    }

    .hero .partners h3 {
        margin-bottom: 1.5rem;
    }

    .hero .partners .partners-logo {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero .partners .partners-logo img {
        margin: .5rem;
        width: 4rem;
    }

    .mobile-nav{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #698ab3;
        color: #FFFFFF;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: .3s;
    }

    .mobile-nav nav ul li{
        list-style: none;
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-nav nav ul li a{
        text-decoration: none;
        color: #FFFFFF;
        margin-right: .5rem;
    }

    .mobile-nav nav ul li:nth-child(5) a{
        background: #2964AE;
        padding: .5rem 1rem;
        border-radius: .7rem;
    }

    .about-us {
        padding: 2rem;
    }

    .about-us h2 {
        margin-bottom: .7rem;
    }

    .about-us h3 {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .about-us .about-us-row {
        justify-content: center;
    }

    .about-us .about-us-row .about-us-col {
        flex-basis: 100%;
        padding: 2rem;
        margin-bottom: 1.5rem;
    }

    .how-to-use {
        padding: 2rem;
    }

    .how-to-use .row {
        flex-wrap: wrap;
    }

    .how-to-use .row .left-col, .how-to-use .row .right-col {
        flex-basis: 100%;
    }

    .how-to-use .row .left-col img{
        width: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .how-to-use .row .right-col h3 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .how-to-use .row .right-col .process {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .how-to-use .row .right-col .process .steps h4 img {
        margin-right: 1.3rem;
    }

    .how-to-use .row .right-col .process .steps p {
        margin-left: 3.2rem;
    }

    .get-montar {
        padding: 2rem;
    }

    .get-montar h4 {
        font-size: 1.5rem;
        line-height: 1.4;
        margin-bottom: 2.3rem;
    }

    .testimonials {
        padding: 2rem;
    }

    .testimonials h2 {
        margin-bottom: 2rem;
    }

    .testimonials .text-row .text-box {
        flex-basis: 100%;
        padding: 2rem;
        margin-bottom: 1.5rem;
    }

    .testimonials .text-row .text-box p {
        font-size: .9rem;
        line-height: 1.6;
    }

    footer {
        padding: 2rem;
    }

    footer .footer-row .footer-col {
        flex-basis: 45%;
        margin-bottom: 1rem;
    }

    footer .footer-row .footer-col h4 {
        font-size: .7rem;
        line-height: 1.5;
    }

    footer .footer-row .footer-col ul li {
        margin: .2rem 0;
    }

    footer .footer-row .footer-col ul li a {
        font-size: .6rem;
    }

    footer p {
        font-size: .7rem;
    }

    footer p a {
        font-size: .7rem;
    }
}

@media (max-width: 320px){
    .hero {
        min-height: 100vh;
        padding: 1.5rem;
    }

    .hero .hero-row .hero-left-col .left-col-text h1 span {
        font-size: 1.5rem;
    }

    .hero .hero-row .hero-left-col .left-col-text h1 {
        font-size: 1.5rem;
        margin-bottom: .7rem;
    }

    .hero .hero-row .hero-left-col .left-col-text p {
        font-size: .9rem;
        margin-bottom: 1.5rem;
    }

    .hero .partners .partners-logo img {
        width: 3.5rem;
    }

    .about-us h2 {
        margin-bottom: .5rem;
    }

    .about-us h3 {
        font-size: 1.05rem;
        margin-bottom: 1.5rem;
    }

    .about-us .about-us-row .about-us-col {
        flex-basis: 100%;
        padding: 1.5rem;
        margin-bottom: 1.2rem;
    }

    .about-us .about-us-row .about-us-col p {
        font-size: 0.8rem;
    }

    .how-to-use .row .right-col .process {
        max-width: 100%;
    }

    .get-montar h4 {
        font-size: 1.2rem;
        line-height: 1.3;
        margin-bottom: 2rem;
    }

    .testimonials .text-row .text-box {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }

    footer .footer-row .footer-col h4 {
        font-size: .6rem;
        margin-bottom: .2rem;
    }

    footer .footer-row .footer-col ul li a {
        font-size: .5rem;
    }

    footer .footer-row .footer-col ul li {
        margin: 0;
    }

    footer p {
        font-size: .6rem;
    }

    footer p a {
        font-size: .6rem;
    }
}
